<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jiayuewu.healthcarer_homepage">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name=".mainpage"
            android:label="Health Carer">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".homepage_patient"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name=".homepage_doctor"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name=".newprofile"
            />
        <activity
            android:name=".login"
            />
        <activity
            android:name=".all_problems"
            />
        <activity
            android:name=".search_result"
            />
        <activity android:name=".records_for_part" />
        <activity
            android:name=".add_problem"
            />
        <activity
            android:name=".view_problem"
            />
        <activity
            android:name=".view_patient_problem"
            />
        <activity
            android:name=".remind_setting"
            />
        <activity
            android:name=".view_record"
            />
        <activity
            android:name=".view_records"
            />
        <activity
            android:name=".view_patient_record"
            />
        <activity
            android:name=".view_patient_records"
            />
        <activity
            android:name=".add_record"
            />
        <activity
            android:name=".doctor_comments"
            />
        <activity
            android:name=".view_doctor_comment"
            />
        <activity
            android:name=".add_patient"
            />
        <activity
            android:name=".view_patient"
            />
        <activity
            android:name=".transfer"
            />
        <activity android:name=".RemindActivity" />
        <activity
            android:name=".add_doctor_comment" />
        <activity android:name=".add_photos_in_record" />

        <receiver android:name=".AlertReceiver" />
        <!-- <service android:name=".ReactNativeAudioStreaming.Signal" android:enabled="true" /> -->
        <!--<activity android:name=".homepage_doctor_my_profile_content" /> -->
        <activity android:name=".add_photos_for_part"></activity>
        <activity android:name=".slideshow"></activity>
    </application>

</manifest>